button {
  margin-right: 5px;
}

.submit-btn {
  margin-top: 1rem;
}

.login {
  text-align: center;
  padding: 10px;
  height: 200px;
  line-height: 200px;

  button {
    font-size: 20px;
  }
}
