.main-content {
  width: 80%;
  margin: auto auto 100px auto;
}

.main {
  margin-left: 10px;
}

.form {
  width: 50%;
  float: left;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 10px;
  min-width: 300px;
  overflow: hidden;

  .product-title {
    font-weight: bold;
  }

  .product-details {
    margin-bottom: 1rem;

    & > div {
      margin-bottom: 0.5rem;
    }
  }
}

.main-form {
  color: #222222;
  font-size: 18px;
  width: 70%;
  margin: auto;
}
