.main-content {
  width: 80%;
  margin: auto auto 100px auto;
}

.main {
  margin-left: 10px;
}

.form {
  width: 50%;
  float: left;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 10px;
  min-width: 300px;
  overflow: hidden;

  .product-title {
    font-weight: bold;
  }

  .product-details {
    margin-bottom: 1rem;

    & > div {
      margin-bottom: 0.5rem;
    }
  }
}

.main-form {
  color: #222222;
  font-size: 18px;
  width: 70%;
  margin: auto;
}

.input-control {
  border: 1px solid #ccc;
  color: #555555;
  background-color: #fff;
  height: 46px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(23, 24, 24, 0.6);
    border: 1px solid #cecece;
  }
}

button {
  margin-right: 5px;
}

.submit-btn {
  margin-top: 1rem;
}

.login {
  text-align: center;
  padding: 10px;
  height: 200px;
  line-height: 200px;

  button {
    font-size: 20px;
  }
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 10px;
}

.successMsg {
  color: #00ff00;
  background: #077707;
  padding: 10px;
}

.centered-message {
  width: 500px;
  margin: auto;
}

.message {
  color: #0e1b1e;
  font-size: 25px;
  margin-left: 10px;
}
