body {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Helvetica',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(114, 134, 128);
  color: #000;
  letter-spacing: 1px;
  padding: 10px;
  min-height: 100vh;
}
