@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
  header {
    .links {
      a {
        font-size: 1.2rem;
      }

      .link:link,
      .link:visited {
        margin: unset;
      }
    }
  }
  .main-form {
    width: 100%;
  }
}
